
.chat-box {
  position: relative;
  width: 100%;
  overflow-y: auto;
  background: rgb(236, 234, 234);
}

.table-card{
  margin-top: 0 !important;
}
.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.message p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #dcf8c6;
  border-radius: 10px;
  font-size: 0.9rem;
  text-align: left;
}

.message p::before {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
  
}

.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.8.5rem;
  opacity: 0.5;
  text-align: right;
}
.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.received p {
  background: #fff;
  text-align: left;
}

.message.received p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
}

.custom {
  width: auto;
}

.custom-file {
  min-height: 20px !important;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
::ng-deep .snacker-primary{
  background: #00bcd4;
  color: white;
}
::ng-deep .mat-simple-snackbar-action button {
  max-height: 36px;
  min-width: 0;
  color: white;
}